<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Lista de productos</title>
</head>
<body class="container-fluid">
    <main>
        <div class="container w-50 p-3 border mt-2">
        <h2 class="text-black text-center bg-light">Lista de Productos</h2>
        <% if(products.length != 0){ %>
            <div class="table-responsive">
            <table class="table w-50 mx-auto mt-4">
                <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
                </tr>
                <% products.map( product=> { %>
                <tr>
                    <td class="align-middle">
                    <%=product.title%>
                    </td>
                    <td class="align-middle">
                    <%=product.price%>
                    </td>
                    <td><img width="70" src=<%=product.thumbnail %> alt="Imagen Producto"></td>
                </tr>
                <% } ) %>
            </table>
            </div>
            <% } else { %>
            <h4 style="color:red" class="mt-3 text-center">No se encontraron productos</h4>
            <% } %>
                <div class="mt-3  text-center">
                <a href="/" type="button" class="btn btn-secondary">Ingreso de Productos</a>
                </div>
        </div>
    </main>
</html>